{% extends 'base.html.twig' %}

{% block title %}Details{% endblock %}

{% block body %}
<div class="container">
<h2 class="page-header mt-5 mb-5"> Animal details </h2>
   <ul class="list-group list-unstyled">
   <li>Name: {{animal.name}}</li>
   <li>Breed: {{animal.breed}}</li>
   <li>Description: {{animal.description}}</li>
   <li>Age: {{animal.age}} years</li>
   <li>Owner: {{animal.fk_user.name}}</li>
   </ul>
   <br>
   <a class="btn btn-success" href="/">Back</a>
</div>
{% endblock %}