{% extends 'base.html.twig' %}

{% block title %}Hello AnimalsController!{% endblock %}

{% block body %}
<h2 class="page-header mt-5 mb-5"> Animals </h2>
   <table class="table table-striped">
       <thead>
           <tr>
               <th>id</th>
               <th>name</th>
               <th>breed</th>
               <th>description</th>
               <th>age</th>
               <th>actions</th>
           </tr>
       </thead>
       {% for animal in animals %}
            <tbody>
                <tr>
                    <th scope="row"> {{animal.id}} </th>
                    <td> {{animal.name}} </td>
                    <td> {{animal.breed}} </td>
                    <td> {{animal.description}} </td>
                    <td> {{animal.age}} </td>
                    <td> <a href="/details/{{animal.id}}" class="btn btn-success">View</a>     
                        <a href="/edit/{{animal.id}}" class="btn btn-default">Edit</a>
                        <a href="/delete/{{animal.id}}" class="btn btn-danger">Delete</a>       
                    </td>
                </tr>
            </tbody> 
       {% endfor %}
   </table>
{% endblock %}
